* { 
    box-sizing: border-box;
}

div {
    border: thin black solid;
    margin: 10px;
}

#container {
    display:flex; 
    flex-direction:row; 
    height:100%; 
    width: 100%;
}

#control {
    display:flex; 
    flex-direction:row; 
}

.existing {
}
