* { 
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

p {
    margin:0;
    margin-bottom:20px;
}

div {
    /*
    border: thin black solid;
    margin: 5px;
    */
}

#layout {
    display:flex; 
    flex-direction:row; 
    height:100%; 
    width: 100%;
}

#existingList {
    max-height: 800px;
    overflow: scroll;
}

.josekiMenu {
    width:150px;
    height:150px;
}

.selected {
    background-color:silver;
}
