
:root {
    --board-color: #ffe498;
    --bs-light: #eee;
    --bs-light-rgb: rgb(200, 200, 200);
    --fsize: 1.2rem;
}

html {
    font-size: var(--fsize);
}
body {
    overflow-y:scroll;
}

.container-fluid {
    max-width: calc(180vh - 220px);
    margin:0;
}

.container-fluid.outer {
    max-width: 1500px;
    margin:0;
    padding:0;
}

.board-bg {
    background-color: var(--board-color);
}

.menu-card {
    width:150px; 
    height: 200px;
    overflow:hidden;
}

.menu-board {
    width:auto;
    margin-left:auto;
    margin-right:auto;
    height:auto;
    background-color: var(--board-color);
}

#pass-indicate {
    font-size: var(--fsize);
}

#pass-indicate.hide {
    transition: opacity 0.5s;
    opacity: 0;
}

#pass-indicate.show{
    transition: opacity 0.5s;
    opacity: 1;
}

#success-card.hide-card, #fail-card.hide-card {
    transition: opacity 0.5s;
    opacity: 0;
    height : 0px;
    overflow: hidden;
}

#success-card.show-card, #fail-card.show-card {
    transition: opacity 0.5s;
    opacity: 1;
    height:auto;
}

textarea {
    width:100%;
    height:6em;
    padding:0.5em;
}

/*
 * { 
 box-sizing: border-box;
 }

 body {
 font-family: Arial, sans-serif;
 overflow-y:scroll;
 }

 p {
 margin:0;
 margin-bottom:20px;
 }


 #layout {
 display:flex; 
 flex-direction:row; 
 width: 100%;
 max-width: 1400px;
 }

 #existingList {
 max-height: 600px;
 overflow: scroll;
 }

 #menu {
 width:15%;
 }
 .josekiMenu {
 height:150px;
 }
 .selected {
 background-color:silver;
 }

 #status {
 width: 15%;
 }
 #docs {
 width:35%;
 }
 #container {
 width:50%;
 }
 #menu {
 width:15%;
 }
 #controls {
 width:20%;
 }
 #editDocs{
 width:15%;
 }
 */
