* { 
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-y:scroll;
}

p {
    margin:0;
    margin-bottom:20px;
}

div {
    /*
    border: thin black solid;
    margin: 2px;
    */
}

#layout {
    display:flex; 
    flex-direction:row; 
    height:100%; 
    width: 100%;
}

#existingList {
    max-height: 600px;
    overflow: scroll;
}

#menu {
    width:15%;
}
.josekiMenu {
    height:150px;
}

#status {
    width: 15%;
}

.selected {
    background-color:silver;
}
#docs {
    width:15%;
}
#container {
    width:50%;
}
#controls {
    width:20%;
}

