
:root {
    --board-color: #ffe498;
    --bg-light: #00000008;
    --small-board: 150px;
    --border-radius: 4px 4px 4px 4px/17px 17px 17px 4px;
}

body {
    overflow-y:scroll;
}

.navbar-title {
    text-decoration:none;
}

.about-cat {
    width: 60%;
}

.welcome-cat {
    height: 120px;
    float:right;
}

.navbar {
    background-image: url('cat-logo.png');
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: auto 85%;
}

.container-fluid {
    max-width: calc(140vh - 8em);
    margin:0;
}

.container-fluid.outer {
    max-width: 1200px;
    margin:0;
    padding:0;
}

.board-bg {
    background-color: var(--board-color);
}

.menu-card {
    width: calc(2.1 * var(--small-board));
    height: calc(1.1 * var(--small-board));
    overflow:hidden;
    background-color: var(--bg-light);
}

.menu-board {
    width: var(--small-board);
    height: var(--small-board);
    padding:0;
    background-color: var(--board-color);
    margin-left:0.4rem;;
}

.hide-card {
    transition: opacity 0.5s;
    opacity: 0;
    height : 0px;
    overflow: hidden;
}

.show-card {
    transition: opacity 0.5s;
    opacity: 1;
    height:auto;
}

textarea {
    width:100%;
    height:6em;
    padding:0.5em;
}

table {
    width: 100%;
}

td {
    font-family: Nanum Gothic Coding;
    text-align:right;
}

#fail-card a {
    color:white;
}

.cursor--pointer {
    cursor: pointer;
}

.no-border {
    border-style: none;
}

.overlay--true {
    position: absolute;
    background-color: rgba(0,0,0,.6);
    margin: 0px;
    padding: 0px;
    z-index:400;
}

.overlay--false {
    display:none;
}

.joseki__overlay--true {
    width: calc(2.1 * var(--small-board));
    height: calc(1.1 * var(--small-board));
    left: -.25rem;
    top: -.25rem;
}

.joseki-group__overlay--true {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.joseki-group__name-overlay--true {
    color:white;
    position:relative;
    z-index:600;
}

.joseki-group__actions {
    position:absolute;
    right:.25rem;
    top:.125rem;
    z-index: 500;
}

.joseki-group__btn {
    line-height: inherit;
}

.joseki-group__content {
    overflow: hidden;
}

/* If the page is resized between re-renders, a group may need a scrollbar */
.joseki-group__content:hover {
    overflow-y: auto;
    margin-right: .25rem; /* Ensures scrollbar appears within div */
}

.joseki-group__content--animate {
    transition-property: max-height, padding, margin;
    transition-duration: .3s;
}

.joseki-group__content--hidden {
    max-height: 0px!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
}

[data-tooltip]::before {
    position: absolute;
    content: attr(data-tooltip);
    opacity: 0;
    color: var(--bs-white);
    background-color: var(--bs-info);
    border-radius: var(--border-radius);
    line-height: 1.5;
    border:1px solid black;
    padding: .375rem .75rem;
    margin-top:-.45rem;
    margin-left:-1rem;
}

[data-tooltip]:hover::before {
    opacity: 1;
}

[data-tooltip] {
    color: #aaa;
}
