
:root {
    --board-color: #ffe498;
    --bg-light: #00000008;
    --fsize: 1.3rem;
    --small-board: 120px;
}

html {
    font-size: var(--fsize);
}

body {
    overflow-y:scroll;
}

.navbar-title {
    text-decoration:none;
}

.about-cat {
    width: 60%;
}

.navbar {
    background-image: url('cat.png');
    background-repeat: no-repeat;
    background-position: 98% -20%;
    background-size: auto 150%;
}

.container-fluid {
    max-width: calc(140vh - 220px);
    margin:0;
}

.container-fluid.outer {
    max-width: 1200px;
    margin:0;
    padding:0;
}

.board-bg {
    background-color: var(--board-color);
}

.menu-card {
    width: calc(2.1 * var(--small-board));
    height: calc(1.1 * var(--small-board));
    overflow:hidden;
    background-color: var(--bg-light);
}

.menu-board {
    width: var(--small-board);
    height: var(--small-board);
    padding:0;
    background-color: var(--board-color);
    margin-left:0.4rem;;
}

#pass-indicate {
    font-size: var(--fsize);
}

#pass-indicate.hide {
    transition: opacity 0.5s;
    opacity: 0;
}

#pass-indicate.show{
    transition: opacity 0.5s;
    opacity: 1;
}

#success-card.hide-card, #fail-card.hide-card {
    transition: opacity 0.5s;
    opacity: 0;
    height : 0px;
    overflow: hidden;
}

#success-card.show-card, #fail-card.show-card {
    transition: opacity 0.5s;
    opacity: 1;
    height:auto;
}

textarea {
    width:100%;
    height:6em;
    padding:0.5em;
}

@property --score {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
#score {
  transition: --score 2s;
  transition-timing-function: cubic-bezier(0,1.05,.35,.93);
  counter-reset: score var(--score);
}
#score::after {
  content: counter(score);
}

@property --highScore {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

#highScore {
  transition: --highScore 3s;
  transition-timing-function: cubic-bezier(0,1.05,.35,.93);
  counter-reset: highScore var(--highScore);
}
#highScore::after {
  content: counter(highScore);
}

table {
    width: 100%;
}

td {
    text-align:right;
}
